<!-- <header>
  <div class="logo" routerLink="/popular">
    FolkNews
  </div>

  <div class="menu">
    <ul>
      <li class="selected" routerLink="/">Popular</li>
      <li routerLink="/saude">Covid-19</li>
      <li routerLink="/economia">Economia</li>
      <li routerLink="/desporto">Desporto</li>
      <li>
        <button mat-button [matMenuTriggerFor]="menu">Outros</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/cultura">Cultura</button>
          <button mat-menu-item routerLink="/mundo">Mundo</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</header> -->

<header class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand logo" routerLink="/popular">FolkNews</a>
  <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
    <ul class="navbar-nav mr-auto">
      <li class="selected" routerLink="/">Popular</li>
      <li routerLink="/saude">Covid-19</li>
      <li routerLink="/desporto">Desporto</li>
      <li routerLink="/cultura">Cultura</li>
      <li routerLink="/mundo">Mundo</li>
    </ul>
  </div>
</header>
