<header>
  <div class="logo">
    FolkNews
  </div>

  <div class="menu">
    <ul>
      <li class="selected" (click)="selectedCategory('desporto')">Popular</li>
      <li (click)="selectedCategory('desporto')">Covid-19</li>
      <li>Economia</li>
      <li>Desporto</li>
      <li>
        <button mat-button [matMenuTriggerFor]="menu">Outros</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Saúde e Bem-Estar</button>
          <button mat-menu-item>Sociedade</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</header>
