<header>
  <div class="logo">
    FolkNews
  </div>

  <div class="menu">
    <ul>
      <li class="selected" routerLink="/">Popular</li>
      <li routerLink="/saude">Covid-19</li>
      <li routerLink="/economia">Economia</li>
      <li routerLink="/desporto">Desporto</li>
      <li>
        <button mat-button [matMenuTriggerFor]="menu">Outros</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/mundo">Sociedade</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</header>
